
.tracking-detail {
    padding:3rem 0
   }
   #tracking {
    margin-bottom:1rem
   }
   [class*=tracking-status-] p {
    margin:0;
    font-size:1.1rem;
    color:#fff;
    text-transform:uppercase;
    text-align:center
   }
   [class*=tracking-status-] {
    padding:1.6rem 0
   }
   .consent-STRAVA {
    background-color:#fc4c02;
   }
   .consent-DROPBOX {
    background-color:#007ee5;
   }
   .consent-FACEBOOK {
    background-color:#3b5998;
   }
   
   .tracking-list {
    border:1px solid #e5e5e5
   }
   .tracking-item {
    border-left:1px solid #e5e5e5;
    position:relative;
    padding:2rem 1.5rem .5rem 2.5rem;
    font-size:.9rem;
    margin-left:3rem;
    min-height:5rem
   }
   .tracking-item:last-child {
    padding-bottom:4rem
   }
   .tracking-item .tracking-date {
    margin-bottom:.5rem
   }
   .tracking-item .tracking-date span {
    color:#888;
    font-size:85%;
    padding-left:.4rem
   }
   .tracking-item .tracking-content {
    padding:.5rem .8rem;
    background-color:#f4f4f4;
    border-radius:.5rem
   }
   .tracking-item .tracking-content span {
    display:block;
    color:#888;
    font-size:85%
   }
   .tracking-item .tracking-icon {
    line-height:2.6rem;
    position:absolute;
    left:-1.3rem;
    width:2.6rem;
    height:2.6rem;
    text-align:center;
    border-radius:50%;
    font-size:1.6rem;
    background-color:#fff;
    color:#fff
   }
   .tracking-item .tracking-icon.consent-STRAVA {
    background-color:#fc4c02;
   }
   .tracking-item .tracking-icon.consent-DROPBOX  {
    background-color:#007ee5
   }
   .tracking-item .tracking-icon.consent-FACEBOOK  {
    background-color:#3b5998
   }

   @media(min-width:992px) {
    .tracking-item {
     margin-left:10rem
    }
    .tracking-item .tracking-date {
     position:absolute;
     left:-10rem;
     width:7.5rem;
     text-align:right
    }
    .tracking-item .tracking-date span {
     display:block
    }
    .tracking-item .tracking-content {
     padding:0;
     background-color:transparent
    }
   }