hello {{userProfile}}


<h1>Activate your Pod:</h1>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked> Google drive
        <span class="circle">
        <span class="check"></span>
        </span>
    </label>
</div>
<div class="form-check disabled">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios11" value="option1" disabled> One drive
        <span class="circle">
        <span class="check"></span>
        </span>
    </label>
</div>
<div class="form-check disabled">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios11" value="option1" disabled> Dropbox
        <span class="circle">
        <span class="check"></span>
        </span>
    </label>
</div>
<div class="form-check disabled">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios11" value="option1" disabled> Solid
        <span class="circle">
        <span class="check"></span>
        </span>
    </label>
</div>
<button class="btn btn-primary" onclick="window.location='/auth/pod/google-drive'">Activer</button>


