          <div class="card">
            <div class="card-header card-header-primary">
              <h3 class="card-title">Build your apps from qualified and certified data</h3>
              <p class="card-category">Access the DataVillage APIs to request user consents and gather user data</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-md-4 col-sm-4">
                        <div class="card card-profile">
                            <div class="card-avatar" style="background-color: #79d0dc;">
                                <img class="img" src="/img/icons/api.png" />
                            </div>
                            <div class="card-body">
                            <h4 class="card-title">Get started with our APIs</h4>
                            <p class="card-description">
                                Try out our graph APIs on your own personal data. Explore and learn how to compile and use data from multiple sources by using our documentation. 
                            </p>
                            <a href="#" class="btn btn-primary btn-round">Learn more (soon)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-4 col-sm-4">
                    <div class="card card-profile">
                            <div class="card-avatar">
                                <img class="img" src="/img/icons/brain.png" />
                            </div>
                            <div class="card-body">
                            <h4 class="card-title">Build your first experiment</h4>
                            <p class="card-description">
                                Connect your prefered data workbench or rapidly integrate our supported data studio in a minute. Gather data from multiple users you have personnaly invited to your experiment.  
                            </p>
                            <a href="#" class="btn btn-primary btn-round">Learn more (soon)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-4 col-sm-4">
                    <div class="card card-profile">
                            <div class="card-avatar">
                                <img class="img" src="/img/icons/file.png" />
                            </div>
                            <div class="card-body">
                            <h4 class="card-title">Productize your idea</h4>
                            <p class="card-description">
                                Rely on our premium APIs to reach qualifed community of users, get their consent and reward them for their data. Build your product and scale it on the market.
                            </p>
                            <a href="#" class="btn btn-primary btn-round">Learn more (soon)</a>
                            </div>
                        </div>
                        </div>
                </div>
                <h3>My application</h3>
                <div class="row">
                  <div class="col-md-12 col-md-12 col-sm-12">
                        <div class="card">
                          <form >
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Client Id</label>
                                  <input type="text" class="form-control" value="12345">
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Client secret</label>
                                  <input type="text" class="form-control" value="*******************************">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Application name</label>
                                  <input type="text" class="form-control" value="My app">
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Application category</label>
                                  <input type="text" class="form-control" value="Research">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Authorization callback Url</label>
                                  <input type="text" class="form-control" value="https://www.myapp.com/callback">
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Website</label>
                                  <input type="text" class="form-control" value="https://www.myapp.com">
                                </div>
                              </div>
                            </div>
                             <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-10">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Application description</label>
                                  <textarea class="form-control" rows="3">Research on user lifestyle habits and traffic in the region of Brussel</textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-3">
                                <button type="submit" class="btn btn-primary pull-right">Update application (soon)</button>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>