<!doctype html>
<html lang="en">
<head>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solid passport</title>

<script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>
</head>
<body class="">
   {{{body}}}
</body>
</html>