
<!doctype html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="keywords" content="Datavillage" />
	<meta name="description" content="Live your life and get benefit from your personal data" />
	<meta name="author" content="" />
	
	<!-- Title  -->
	<title>Datavillage - Live your life and get benefit from your personal data</title>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://www.datavillage.me/img/favicon.ico" />
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
	
	
	
	<!-- Core Style Css -->
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/bootstrap.min.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/animate.min.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/linea-basic.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.datavillage.me/css/style.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/helper.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/animate.min.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/linea-basic.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/owl.theme.default.min.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/magnific-popup.css" />
	<link rel="stylesheet" href="https://www.datavillage.me/css/plugins/YouTubePopUp.css" />
</head>

<body>
    		<!-- =====================================
        	==== Start Loading 
    
        	<div class="loading">
        		<div class="text-center middle">
        			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        		</div>
        	</div>
            
        	<!-- End Loading ====
        	======================================= -->
    
           			<!-- =====================================
	    	==== Start Navbar -->
	
			<nav class="navbar navbar-expand-lg">
				<div class="container">
	
	            <!-- Logo -->
	            <a class="logo" href="#">
	                <img src="https://www.datavillage.me/img/logo-light.png" alt="logo">          
	            </a>
	
	
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="icon-bar"><i class="fas fa-bars"></i></span>
				  </button>
	
				  <!-- navbar links -->
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="https://www.datavillage.me/landing-individuals">People</a>
				      </li>
				      <li class="nav-item">
	                    <a class="nav-link " href="https://www.datavillage.me/landing-companies">Organisations</a>
	            </li>
				<li class="nav-item">
	                    <a class="nav-link "  href="https://www.datavillage.me/landing-developers">Developers</a>
				</li>
				<li class="nav-item">
                    <a class="nav-link"  href="https://www.datavillage.me/follow">#Follow</a>
            	</li>
				 </ul>
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
	                    <a class="nav-link-small active"  href="https://www.datavillage.me/landing-individuals?local=en">EN</a>
	            </li>
							<li class="nav-item">
	                    <a class="nav-link-small "  href="https://www.datavillage.me/landing-individuals?local=fr">FR</a>
	            </li>
				    </ul>
				  </div>
				</div>
			</nav>
	
	    	<!-- End Navbar ====
	    	======================================= -->
	
	
	    		
	    	<!-- =====================================
	    	==== Start login -->
	
			<section class="price section-padding pos-re" data-scroll-index="0" data-overlay-color="7" style="background-image: url('https://www.datavillage.me/img/background-landing.png'); background-size: cover; background-position: top center;" style="background: rgba(2,230,0,.5);" data-stellar-background-ratio="0.5">
					<div class="container">
						<div class="row">
							<div class="pricing-tables text-center full-width mt-100">
								<div class="row">
									<div class="col-lg-4 offset-lg-4">
										<div class="item mb-md50">
											<div class="extra-title">
													<h2 class="extra-title-small-margin" style="color:#000">Join <span> Datavillage</span></h2>
													<p class="description text-center">Choose your profile provider and link it!</p>
											</div>

											<div class="features">
												<form onsubmit="return false;" method="post">
													
													
													<div class="form-check text-left">
														<label class="form-check-label">
															<input class="form-check-input" type="radio" name="podRadios" id="podRadiosFacebook" value="facebook" checked>
															<p class="description text-center"><i class="fab fa-facebook"></i> Facebook</p>
															<span class="check"></span>
															</span>
														</label>
													</div>

													<div class="form-check text-left">
														<label class="form-check-label">
															<input class="form-check-input" type="radio" name="podRadios" id="podRadiosGoogle" value="google" disabled>
															<p class="description text-center"> <i class="fab fa-google"></i> Google (soon)</p>
															<span class="check"></span>
															</span>
														</label>
													</div>
												</form>
											</div>
											<div class="order">
												<a id="btn-link" href="#" class="butn butn-light">
													<span>Link my profile</span>
												</a>
											</div>
										</div>
									</div>
								</div>
		
							</div>
		
						</div>
					</div>
				</section>	
	
	    	<!-- End login ====
	    	======================================= -->
		<!-- =====================================
		        ==== start footer -->
		<!-- =====================================
		        ==== Start Footer -->
		
		        <footer class="text-center pos-re">
		            <div class="container">
		                
		                <div class="social">
		                    <a href="https://www.facebook.com/datavillage/"><i class="fab fa-facebook-f"></i></a>
		                    <a href="https://medium.com/datavillage"><i class="fab fa-medium"></i></a>
		                    <a href="https://www.linkedin.com/company/datavillage/"><i class="fab fa-linkedin-in"></i></a>
		                </div>
		                <p>
		                &copy;
		                <script>
		                document.write(new Date().getFullYear())
		                </script>
		                <a href="https://www.datavillage.me" target="_blank">Datavillage</a> for a better web.
		                </p>
		            </div>
		        </footer>
		
		        <!-- End footer ====
		        ======================================= -->
			
		    
           </body>
           	<script src="https://cdn.auth0.com/js/auth0/9.2/auth0.min.js"></script>
			<script src="https://cdn.auth0.com/js/polyfills/1.0/object-assign.min.js"></script>
			<script>
				window.addEventListener('load', function() {

				var config = JSON.parse(
					decodeURIComponent(escape(window.atob('@@config@@')))
				);

				var params = Object.assign({
					/* additional configuration needed for use of custom domains
					overrides: {
					__tenant: config.auth0Tenant,
					__token_issuer: 'YOUR_CUSTOM_DOMAIN'
					}, */
					domain: config.auth0Domain,
					clientID: config.clientID,
					redirectUri: config.callbackURL,
					responseType: 'code'
				}, config.internalOptions);

				var webAuth = new auth0.WebAuth(params);

				function loginWithGoogle() {
					webAuth.authorize({
					connection: 'google-oauth2'
					}, function(err) {
					if (err) displayError(err);
					});
				}

				function loginWithFacebook() {
					webAuth.authorize({
					connection: 'facebook'
					}, function(err) {
					if (err) displayError(err);
					});
				}

				function login() {
					if (document.getElementById('podRadiosGoogle').checked)
						loginWithGoogle();
					else
						loginWithFacebook();
				}
				document.getElementById('btn-link').addEventListener('click', login);
				});
			</script>
	
    </html>
